<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="{% static 'MainCanvas/javascript/draw.js' %}" ></script>
        <title>Drawing Canvas</title>
    </head>
    <body background="{% static 'MainCanvas/images/01.jpg' %}" style="background-size: auto auto;">

        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" style="color:white" href="#">Drawing Canvas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" style="color:white" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color:white" href="#">Login</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" style="color:white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" style="color:white" href="#">Action</a>
                    <a class="dropdown-item" style="color:white" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" style="color:white" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" style="color:white" href="#" tabindex="-1" aria-disabled="true">Happy Drawing!</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
        </nav>

      <div  id="thicknessAndColorBar" ></div>

      <div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Color Hex Value</span>
          </div>
          <input type="text" id="colorHexValue" aria-label="Color Value" class="form-control">
        </div>
      </div>
      <div id="buttonBar"></div>

      <form id="saveDrawing" action="{% url 'saveDrawing' %}" method="post" hidden onsubmit="return submitDrawing()">
        {% csrf_token %}
        <input id="JSONData" type="text" name="JSONData"/>
        <button id="save" type="submit" class="btn btn-warning btn-lg" ></button>
      </form>

        <svg id="canvas" style="background:rgba(255,255,255,0.95)"></svg>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Load React. -->
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

        <!-- Load our React component. -->
        <script src="{% static 'MainCanvas/javascript/reactComponents.js' %}" type="text/babel"></script>
    </body>
</html>
